
table {
    width: 100%;
    max-width: 400px; /* Set max-width to prevent form from expanding too much */
    margin: 0 auto; /* Center the form */
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    padding: 8px; /* Reduce padding for smaller screens */
    text-align: left;
    border: 1px solid #ddd;

}

h3 {
    text-align: center;
}

/* Menu section */
.menu {
    text-align: center;
    padding: 10px;
    background-color: #333;
    display: flex;
    color: #fff;
    text-decoration: none;
    justify-content: center;
}

.menu a {
    color: #fff;
    padding: 10px 30px;
    display: block;
    text-decoration: none;
}



.container {
    /* max-width: 1200px; */
    padding: 10px;
    margin: 0 auto;
    background-color: #fff;
    box-sizing: box;
}

.team-member {
    padding: 20px 30px 40px 10px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    
}

.team-member img {
    width: 100%;
    height: auto;
}


@media screen and (max-width: 767px) {
    .team-member img {
        width: 256px;
        height: auto;
    }
}

@media screen and (min-width: 768px) {
    .team-member {
        display: flex;
    }
    .team-member img {
        width: 150px;
        height: auto;
        margin-right: 20px;
    }
    .team-member .info {
        flex: 1;
    }
}


.comment-section {


}

.comment {
    background-color: #333333;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 40px 30px 30px 10px;
    margin-bottom: 30px;
}
.comment:first-child{
    margin-top: 40px;
}
.author {
    font-weight: 600;
}
.date {
    font-weight: 600;
    color: gray;
    font-style: italic;
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: none;
}

/* CSS for making the comment form responsive */
.comment-form {
    width: 100%;
    max-width: none; /* Remove the max-width */
    margin: 0 auto; /* Center the form */
    th, td {
        border: none;
    }
}

.comment-form td {
    padding: 8px; /* Reduce padding for smaller screens */
}

.comment-form input[type="text"],
.comment-form textarea {
    width: calc(100% - 16px); /* Make text fields full width, accounting for padding and border */
    box-sizing: border-box; /* Include padding and border in width */
}

.comment-form input[type="submit"]{
    width: 48%; /* Set width for submit and reset buttons */
    padding: 8px; /* Add padding to buttons */
    box-sizing: border-box; /* Include padding in width */
    
}
.comment-form input[type="reset"] {
    width: 48%; /* Set width for submit and reset buttons */
    padding: 8px; /* Add padding to buttons */
    box-sizing: border-box; /* Include padding in width */
}

.comment-form textarea {
    resize: vertical; /* Allow vertical resizing of the textarea */
}





